:host {
  display: block;
  height: 100%;
  min-height: 100%;

  > div.mat-elevation-z8 {
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
  }

  .panel-wrapper, .create-user-wrapper {
    width: 50%;
    display: inline-block;
  }
  .button-wrapper {
    text-align: center;
    margin-top: 50px;
  }
}
