<form [formGroup]="userForm">
  <div class="form-wrapper">
    <mat-form-field appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="userForm.get('firstName').invalid">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="userForm.get('lastName').invalid">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="userForm.get('email').errors?.required">This field is required.</mat-error>
      <mat-error *ngIf="userForm.get('email').errors?.email">Email is in wrong format.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="userName">
      <mat-error *ngIf="userForm.get('userName').invalid">This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      <mat-error *ngIf="userForm.get('password').errors?.required">This field is required.</mat-error>
      <mat-error *ngIf="userForm.get('password').errors?.minlength">This field should be at least 6 chars.</mat-error>
    </mat-form-field>
    <button [disabled]="userForm.invalid" (click)="saveUser()" mat-flat-button color="primary">Save</button>
  </div>
</form>
